.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  margin-top: 1em;
}

.container h2 {
  color: white;
  text-align: center;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  border: 4px #7F53ACCC solid;
  background-color: #00000080;
  color: white;
  font-size: 14px;
  margin-right: 1em;
  position: relative;
  overflow: hidden;
}

.gridItemContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #00000080;
  text-align: center;
  bottom: 0;
  padding: 5px;
}

.gridItem p {
  margin: 0;
}

.gridItem p:first-child {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

.gridItem p:last-child {
  font-size: 12px;
}

.gridItem button {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #D01135;
  color: white;
  font-weight: bold;
  cursor: pointer;
}